@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Padrão */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    color: var(--preto);
}

:root {
    --destaque-claro: #0FD32D;
    --destaque-escuro: #076A16;
    --verde-agua: #80C9BC;
    --branco: #fff;
    --preto: #231F26;
    --preto-transparente: #231f266c;
    --cinza: #D9D9D9;
    --cinza-escuro: #747474;
    --largura-total-pagina: 700px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-1 {
    padding: 1.5rem;
    max-width: var(--largura-total-pagina);
    display: block;
    margin: auto;
}

.texto-destaque {
    color: var(--destaque-claro);
}

.texto-subdestaque {
    color: var(--destaque-escuro);
}

.bottom-p {
    margin-bottom: 0.4rem;
}

.bottom-m {
    margin-bottom: 0.7rem;
}

.bottom-g {
    margin-bottom: 1.3rem;
}

.bottom-gg {
    margin-bottom: 2.1rem;
}

.chamada-60-40 {
    display: flex;
    gap: 0.5rem;
}

.c-40 {
    width: 40%;
}

.c-60 {
    width: 60%;
}

.b-600 {
    font-weight: 600;
}

.center-h {
    display: flex;
    justify-content: center;
}

.center-v {
    display: flex;
    align-items: center;
}

/* Header */
.apenas-logo {
    box-shadow: 0px 10px 22px -9px rgba(0, 0, 0, 0.44);
}

.conteudo-a-p {
    padding: 0.4rem 1.5rem;
    width: var(--largura-total-pagina);
    display: flex;
    gap: 1rem;
    color: var(--preto);
    text-decoration: none!important;
}

.logo-header {
    width: 3rem;
    height: 3rem;
}

/* Home */
.btn-acao-m {
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
}

.chamada-video-vsl {
    font-size: smaller;
    color: var(--cinza-escuro);
}

.vsl-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 ratio */
    height: 0;
}

.vsl-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

.chamada-media {
    display: flex;
    flex-direction: column;
}

.como-comecar{
    display: block;
    margin: auto;
    max-width: 600px;
}

.como-comecar-50-50{
    display: flex;
    justify-content: center;
}

.c-50{
    width: 50%;
}

.como-comecar-maior{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.como-comecar-maior svg{
    width: 3.5rem;
    margin-bottom: 0.4rem;
    fill: var(--preto);
}

.como-comecar-maior p{
    text-align: center;
}

.como-comecar-menor{
    display: flex;
    justify-content: center;

}

.como-comecar-menor svg{
    fill: var(--preto);
    width: 3rem;
}

.btn-acao-g {
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.5rem;
    width: 80%;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex: 0 0 100%;
    border-radius: 12px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.indicator {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #333;
}

/* Planos */

.assinaturas{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.assinatura-card{
    padding: 1rem 1rem 2rem 1rem;
    width: 90%;
    border-radius: 17px;
    box-shadow: -1px 0px 20px 1px rgb(181 181 181 / 44%);
}

.assinatura-card h2{
    text-align: center;
}

.plano-premium-card{
    border: 4px solid var(--destaque-escuro);
}

.topo-melhor-plano{
    position: relative;
    padding: 0.6rem 1.8rem;
    top: -2.5rem;
    display: block;
    border-radius: 15px;
    font-weight: 600;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1.6rem;
    background-color: var(--verde-agua);
}

.argumento-planos{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    font-size: larger;
}

.argumento-planos svg{
    fill: var(--preto);
    width: 4rem;
}

.preco-assinatura{
    font-size: 140%;
    text-align: center;
    font-weight: 600;
    display: block;
    margin-bottom: 0.2rem;
}

.info-preco-assinatura{
    font-size: smaller;
    text-align: center;
    font-weight: 300;
    display: block;
}

.btn-acao-assinatura{
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.5rem;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
}

.info-assinatura{
    text-align: center;
    font-weight: 500;
}

.funcoes-assinatura{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.funcoes-assinatura span{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 79%;
}

.funcao-ativa svg{
    fill: var(--destaque-claro);
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
}

.funcao-desativada svg{
    fill: var(--cinza-escuro);
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
}

.funcao-ativa p{
    text-decoration: underline;
}

.funcao-desativada p{
    text-decoration: underline;
}

#abrir-modal-termos-pag{
    cursor: pointer;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    text-decoration: underline;
}

.ativo-modal{
    display: flex!important;
}

.modal-termos-pagamento{
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--preto-transparente);
}

.modal-termos-pagamento section{
    background-color: var(--branco);
    max-width: var(--largura-total-pagina);
    margin: 0 1.5rem;
    border-radius: 15px;
}

.modal-termos-pagamento p{
    padding: 0.1rem 2rem 2rem 2rem;
}

#sair-modal-pagamento{
    padding: 0.8rem 2rem 0 2rem;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

#sair-modal-pagamento svg{
    fill: var(--preto);
    width: 3rem;
}

/* Checkout */

.nome-plano-checkout{
    font-size: larger;
}

.aviso-p{
    font-size: smaller;
    color: var(--cinza-escuro);
}

.escolha-tempo-assinatura{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tempo-assinatura{
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -1px 0px 20px 1px rgb(181 181 181 / 44%);
}

.tempo-selecionado{
    border: 3px solid var(--verde-agua);
    transition: 0.2s;
}

.topo-tempo-assinatura{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.topo-tempo-assinatura span{
    width: 1.3rem;
    height: 1.3rem;
    border: 0.2rem solid var(--verde-agua);
    background-color: var(--branco);
    display: block;
    border-radius: 100%;
}

.tempo-selecionado .topo-tempo-assinatura span{
    border: 0.5rem solid var(--verde-agua)!important;
    background-color: var(--branco)!important;
    width: 1rem!important;
    height: 1rem!important;
}

.topo-tempo-assinatura p{
    font-weight: 600;
}

.preco-assinatura-mensal{
    font-weight: 600;
    font-size: larger;
}

.preco-assinatura-total{
    font-weight: 600;
    font-size: medium;
}

.economize-plano{
    display: block;
    width: fit-content;
    margin: -1rem auto auto auto;
    padding: 0.5rem 1rem;
    background-color: var(--verde-agua);
    position: relative;
    top: 2rem;
    border-radius: 35px;
}

/* Mautic */

.mauticform_wrapper{
    padding: 1.5rem;
    box-shadow: -1px 0px 20px 1px rgb(181 181 181 / 44%);
    border-radius: 10px;
}

.campo-checkout{
    width: 100%;
    font-size: medium;
    display: block;
    font-weight: 500;
}

.mauticform-input{
    width: 100%;
    padding: 0.4rem 0.7rem;
    font-size: medium;
    margin-bottom: 0.4rem;
    border-radius: 10px;
    border: none;
    background-color: var(--cinza);
    box-sizing: border-box;
}

.btn-acao-mautic-checkout{
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7rem;
}

#mauticform_capplanoinicial_tempo_do_plano, #mauticform_capplanoinicial_plano, #mauticform_capplanopremium_plano, #mauticform_capplanopremium_tempo_do_plano, #mauticform_capplanopremiumplus_plano, #mauticform_capplanopremiumplus_tempo_do_plano{
    display: none!important;
}

/* Obrigado bmvp */

.ok-obrigado{
    fill: var(--destaque-escuro);
    width: 70%;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-registro-obrigado{
    text-align: center;
    font-weight: 500;
    font-size: larger;
}

.obs-registro-obrigado{
    font-weight: 500;
    font-size: larger;
    text-decoration: underline;
}

/* Footer */
footer{
    text-align: center;
    font-weight: 600;
    padding-bottom: 1.3rem;
}